 .u-section-1 {
  min-height: 942px;
}

.u-section-1 .u-image-1 {
  height: 719px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  min-height: 382px;
  width: 678px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  height: auto;
  margin: -249px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px 30px 50px;
}

.u-section-1 .u-text-1 {
  margin: 23px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 42px auto 0;
  padding: 12px 52px 12px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 640px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 582px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -191px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    height: 499px;
  }

  .u-section-1 .u-group-1 {
    min-height: 403px;
    width: 540px;
    margin-top: -164px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 415px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -99px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 496px;
}

.u-section-2 .u-text-1 {
  margin: 4px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 4px;
  margin-bottom: 59px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 9px));
  min-height: 375px;
  grid-gap: 12px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-1 {
  padding: 35px 20px;
}

.u-section-2 .u-group-1 {
  width: 145px;
  min-height: 145px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-shape-1 {
  width: 118px;
  height: 118px;
  background-image: none;
  margin: 0 -1px 0 auto;
}

.u-section-2 .u-icon-1 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: -69px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 30px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 0.888889rem;
  margin: 12px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-3 {
  padding: 35px 20px;
}

.u-section-2 .u-group-2 {
  width: 145px;
  min-height: 145px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 118px;
  height: 118px;
  background-image: none;
  margin: 0 -1px 0 auto;
}

.u-section-2 .u-icon-2 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: -69px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.375rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 0.888889rem;
  margin: 12px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-5 {
  padding: 35px 20px;
}

.u-section-2 .u-group-3 {
  width: 145px;
  min-height: 145px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-shape-3 {
  width: 118px;
  height: 118px;
  background-image: none;
  margin: 0 -1px 0 auto;
}

.u-section-2 .u-icon-3 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: -69px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.375rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 0.888889rem;
  margin: 12px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-7 {
  padding: 35px 20px;
}

.u-section-2 .u-group-4 {
  width: 145px;
  min-height: 145px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-shape-4 {
  width: 118px;
  height: 118px;
  background-image: none;
  margin: 0 -1px 0 auto;
}

.u-section-2 .u-icon-4 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: -69px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.375rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 0.888889rem;
  margin: 12px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 6px));
    min-height: 751px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-3 {
  min-height: 1241px;
}

.u-section-3 .u-shape-1 {
  height: 580px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-layout-wrap-1 {
  width: 936px;
  margin: -490px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 590px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 20px 44px;
}

.u-section-3 .u-image-1 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 1px 0;
}

.u-section-3 .u-text-2 {
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 0;
  font-size: 0.875rem;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 607px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-3 .u-image-2 {
  height: 400px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 204px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-text-5 {
  font-size: 2.8125rem;
  font-weight: 800;
  margin: 0 1px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 885px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-3 {
  height: 446px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-6 {
  line-height: 2;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    font-size: 3rem;
    font-weight: 700;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 2821px;
  }

  .u-section-3 .u-shape-1 {
    height: 2317px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 550px;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    height: 636px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-5 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    height: 709px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 2518px;
  }

  .u-section-3 .u-shape-1 {
    height: 1979px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    height: 421px;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-2 {
    height: 486px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 542px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 2072px;
  }

  .u-section-3 .u-shape-1 {
    height: 1597px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 269px;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 311px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 347px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/e3b67513151142239589e6e7015ecb312fb7672290d3f2bdd9bc309fa2a3f47661034ca6d7c0a8b31257870190d2a5f8b578f619f7a299d8cc4795_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 650px;
}

.u-section-4 .u-text-1 {
  width: 597px;
  margin: 82px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 48px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 16px));
  min-height: 304px;
  grid-gap: 24px;
}

.u-section-4 .u-list-item-1 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-3 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16px));
    min-height: 248px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 605px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 959px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 92px 82px 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 74px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 302px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 255px;
  height: 255px;
  background-image: url("images/1482df3a72a6bdc5be3d0d1eab1493dbf5fe2270c53a822e009a1cd47b7f60a2dcfaaf8e7314430474e09bfbc6062d2a2291b58d51ecfd4cf98f9d_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 302px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin: 107px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 302px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  width: 255px;
  height: 255px;
  background-image: url("images/80bc0f54e5a6f8db1d1ffa2c120a6d45a671092b643d3f5ff595da2dabd9152fd04c6152c0b877134dcc5a53a63fecd0ab266ed56a14297be6295f_1280.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 302px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  margin-top: 92px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 288px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  margin: 85px 0 0;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 288px;
}

.u-section-5 .u-container-layout-6 {
  padding: 0;
}

.u-section-5 .u-image-3 {
  width: 255px;
  height: 255px;
  background-image: url("images/7948a1436a4da47b7ef2a9a269d7f3f8fe7541ac681897e8f9377108a16a8729c941d7f45386722ec29cea19dd2c47dde0508a71cd198f3bf55e02_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-7 {
  min-height: 288px;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  margin: 85px 0 0;
}

.u-section-5 .u-layout-cell-8 {
  min-height: 288px;
}

.u-section-5 .u-container-layout-8 {
  padding: 0;
}

.u-section-5 .u-image-4 {
  width: 255px;
  height: 255px;
  background-image: url("images/55e72465f3b0291e9b4d8966e6ae2fa78a0e04f4ce617ce6ce9dc8829e3b0983cd6070be96e2673d40d926eeab69b3f5bce93b2db6241a8fd02dae_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 309px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-1 {
    width: 235px;
    height: 235px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 309px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-2 {
    width: 235px;
    height: 235px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 309px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 309px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 309px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-3 {
    width: 235px;
    height: 235px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 309px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 309px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-4 {
    width: 235px;
    height: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 237px;
  }

  .u-section-5 .u-image-1 {
    width: 180px;
    height: 180px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 237px;
  }

  .u-section-5 .u-image-2 {
    width: 180px;
    height: 180px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 237px;
  }

  .u-section-5 .u-image-3 {
    width: 180px;
    height: 180px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 237px;
  }

  .u-section-5 .u-image-4 {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3206px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-5 .u-image-1 {
    width: 500px;
    height: 500px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 580px;
  }

  .u-section-5 .u-image-2 {
    width: 500px;
    height: 500px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 534px;
  }

  .u-section-5 .u-image-3 {
    width: 500px;
    height: 500px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 536px;
  }

  .u-section-5 .u-image-4 {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2023px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-5 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 365px;
  }

  .u-section-5 .u-image-2 {
    width: 300px;
    height: 300px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 336px;
  }

  .u-section-5 .u-image-3 {
    width: 300px;
    height: 300px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 337px;
  }

  .u-section-5 .u-image-4 {
    width: 300px;
    height: 300px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/g-min.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 801px;
}

.u-section-6 .u-slider-1 {
  min-height: 558px;
  width: 666px;
  height: auto;
  margin: 60px 0 60px auto;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  inset: auto auto 31px 63px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 65px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: 40px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  letter-spacing: normal;
  font-weight: 600;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: none;
  margin: 30px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 65px;
}

.u-section-6 .u-text-3 {
  font-size: 3rem;
  margin: 40px 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  letter-spacing: normal;
  font-weight: 600;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: none;
  margin: 30px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 65px;
}

.u-section-6 .u-text-5 {
  font-size: 3rem;
  margin: 40px 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.125rem;
  letter-spacing: normal;
  font-weight: 600;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: none;
  margin: 30px 0 0;
}

.u-section-6 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
  left: 0;
  right: auto;
  position: absolute;
}

.u-section-6 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 683px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    background-position: 76.13% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 371px;
    width: 558px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.625rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-text-3 {
    font-size: 2.625rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-text-5 {
    font-size: 2.625rem;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    background-position: 46.31% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 442px;
    width: 460px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-6 .u-slider-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1584px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 669px;
  margin: 60px auto 0;
}

.u-section-7 .u-group-1 {
  width: 768px;
  min-height: 854px;
  height: auto;
  margin: 83px auto 0;
}

.u-section-7 .u-image-1 {
  width: 567px;
  height: 567px;
  background-image: url("images/2.jpg");
  background-position: 50% 50%;
  margin: 45px 17px 0 auto;
}

.u-section-7 .u-image-2 {
  width: 405px;
  height: 405px;
  background-image: url("images/4.jpg");
  background-position: 50% 50%;
  margin: -339px auto 0 20px;
}

.u-section-7 .u-image-3 {
  width: 244px;
  height: 244px;
  background-image: url("images/10.jpg");
  background-position: 50% 50%;
  margin: -88px 178px 0 auto;
}

.u-section-7 .u-shape-1 {
  width: 114px;
  height: 114px;
  background-image: none;
  margin: -737px auto 0 47px;
}

.u-section-7 .u-shape-2 {
  width: 77px;
  height: 77px;
  margin: 409px 56px 0 auto;
}

.u-section-7 .u-form-1 {
  height: 176px;
  width: 624px;
  margin: 32px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 100%;
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 9px 0 11px;
}

.u-section-7 .u-list-1 {
  width: 335px;
  margin: 33px auto 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 130px;
  grid-gap: 0px 0px;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1612px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-image-1 {
    width: 463px;
    height: 463px;
    margin-top: 86px;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    width: 323px;
    height: 323px;
    margin-top: -205px;
    margin-left: 0;
  }

  .u-section-7 .u-image-3 {
    margin-top: -77px;
    margin-right: 133px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: -814px;
    margin-left: 18px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: 435px;
    margin-right: 38px;
  }

  .u-section-7 .u-form-1 {
    width: 540px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 38px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -82px;
  }

  .u-section-7 .u-image-3 {
    margin-right: 96px;
  }

  .u-section-7 .u-form-1 {
    width: 340px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}